box_mode.mkv filter=lfs diff=lfs merge=lfs -text
custom_curves_with_snapping_mode.mkv filter=lfs diff=lfs merge=lfs -text
degree_manipulation.mkv filter=lfs diff=lfs merge=lfs -text
iso_lines_with_menu_hint.mkv filter=lfs diff=lfs merge=lfs -text
menu_showcase_no_functionality.mkv filter=lfs diff=lfs merge=lfs -text
stepping_mode.mkv filter=lfs diff=lfs merge=lfs -text
basic_control_point_click_and_drag.mkv filter=lfs diff=lfs merge=lfs -text
connector_bridges_click_and_drag.mkv filter=lfs diff=lfs merge=lfs -text
curvature_color_and_box_color.mkv filter=lfs diff=lfs merge=lfs -text
orthographic_projection_with_snapping.mkv filter=lfs diff=lfs merge=lfs -text
